@font-face {
    font-family: "Outfit";
    src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf");
}

.about {
    position: relative;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : white;
    margin: 20% 30%;
    z-index: 1;
    h1 {
        font-size: 50px;
        font-weight: 500;

    }
    .text {
        width: 100%;
        font-weight: 300;
    }
}