@font-face {
    font-family: "Outfit";
    src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf");
}

$font-family: "Outfit", Arial, Helvetica, sans-serif;
$primary-font-size: clamp(30px, 3vw, 50px);
$font-weight-medium: 500;

.projets-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18vh;
}

.projets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
    min-height: 80vh;

    .projets-title {
        font-size: $primary-font-size;
        font-weight: $font-weight-medium;
        font-family: $font-family;
    }
}

@media screen and (max-width: 600px) {
    .projets-container {
        width: 90vw;
    }
    
}