.skill-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .choices {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1;
        .cache {
            
            padding-top: 8px;
            overflow-y: clip;
        
            .choice {
                position: relative;
                z-index: 3;
                cursor: pointer;
                padding: 10px;
                background-color: var(--background);
                border-radius: 2px;
                border-radius: 20px 20px 0px 0px;
                background: var(--Background);

                p {
                    margin: 9px 11px;
                }

                /* Neumorph-Int */
                box-shadow: -2px -2px 5px 0px var(--bg-lighter) inset, 2px 2px 5px 0px var(--bg-darker) inset;
                &.active {
                    z-index: 2;
                    border-radius: 20px 20px 0px 0px;
                    background: var(--Background);

                    /* Neumorph-Ext */
                    box-shadow: -4px -4px 10px 0px var(--bg-lighter), 4px 4px 10px 0px var(--bg-darker);
                }
            }
        
        }
    }
    .skill-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 257px;
        border-radius: 0px 20px 20px 20px;
        background: var(--Background);
        box-shadow: -4px 0 10px -3px var(--bg-lighter), 4px 4px 10px 0px var(--bg-darker);
        .technos {
            padding: 20px;
            height: 100%;
            width: 50%;
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap : 10px;
                padding : 10px;
            }
            img {
                width: 70px;
                cursor : pointer;
                transition: transform 0.1s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .focus img {
                transform: scale(1.1);
            }
        }
        .explanation {
            padding: 20px;
            height: 100%;
            width: 50%;
            .image-title {
                display: flex;
                align-items: center;
                margin-bottom : 2px;
                gap: 5px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            p {
                font-size: 12px;
            }
            a {
                margin-top: 5px;
                span {
                    font-size : 16px;
                }
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
                    
    }
}

