:root {
    --dark-text : #E2EBF1;
    --dark-blue : #0D1B2A;
    --dark-light-blue : #193552;
    --dark-dark-blue : #010304;
    --dark-text-accent : #91999f;

    --light-text : #000000;
    --light-yellow : #f4eedd;
    --light-light-yellow : #f9f6ec;
    --light-dark-yellow : #e7dbb6;
    --light-text-accent : #736c5a;

}

.light-theme {
    --background : var(--light-yellow);
    --text : var(--light-text);
    --bg-lighter : var(--light-light-yellow);
    --bg-darker : var(--light-dark-yellow);
    --textaccent : var(--light-text-accent);
}

.dark-theme {
    --background : var(--dark-blue);
    --text : var(--dark-text);
    --bg-lighter : var(--dark-light-blue);
    --bg-darker : var(--dark-dark-blue);
    --textaccent : var(--dark-text-accent);
}

.app {
    height: fit-content;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text);
    a {
        color: var(--text);
    }
}

::selection {
    background-color: var(--textaccent);
    color: var(--background);
}