.socials {
    display: inline-flex;
    width:fit-content ;
    margin-top: 38px;
    gap: 20px;
    a img {
        transition: ease 0.2s;
    }
    a:hover img {
        transform: scale(1.1);
    }
}