.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 30px 56px;
    color : white;
    h2 {
        margin : 0;
    }
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li {
                float: left;
                a {
                    display: block;
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    padding: 14px 16px;
                    
                }
            }
        }
    }
}
a#active {
    text-decoration: underline white 1px;
    text-underline-offset: 3px;
}