@font-face {
    font-family: "Outfit";
    src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf");
}

.aboutme-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .about-container {
        display: flex;
        justify-content: center;
        flex: 1;
        .about-content {
            font-family: "Outfit", Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width : 65vw;
            h1 {
                font-size: 40px;
                font-weight: 400;
            }
            p {
                font-size: 20px;
                font-weight: 300;
                margin: 5px;
            }
        }
    }
}